body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #ffff;
    text-align: center;
}

header img {
    vertical-align: middle;
    width: 100px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.mermaid {
    margin: 20px 0;
}

.divisao {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc; 
    left: 0; 
}

footer {
    text-align: left;
    background-color: rgb(248, 242, 242);
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
}

footer ul li a {
    text-decoration: none;
    color: red;
    font-size: 18px;
}

footer ul li a:hover {
    text-decoration: underline;
}
